Finetuning experiment/.gitignore
Finetuning experiment/cpu_20117485.err
Finetuning experiment/cpu_20117485.out
Finetuning experiment/download_llama2.sh
Finetuning experiment/download_mixtral.sh
Finetuning experiment/finetune_llama2.sh
Finetuning experiment/finetune_mixtral.sh
Finetuning experiment/gpu_20117658.err
Finetuning experiment/gpu_20117658.out
Finetuning experiment/gpu_20121090.err
Finetuning experiment/gpu_20121090.out
Finetuning experiment/gpu_20142159.err
Finetuning experiment/gpu_20142159.out
Finetuning experiment/gpu_20297876.err
Finetuning experiment/gpu_20297876.out
env_test/env_test.py
env_test/env_test.sh
env_test/gpu_20110585.err
env_test/gpu_20110585.out
env_test/gpu_20406828.err
env_test/gpu_20406828.out
env_test/.gitignore
dist
/build
__pycache__
*.egg-info
*.egg
profile
.pytest_cache
old_but_gold
Masters-thesis.code-workspace
tests/temp_data
jupyter_notebooks
geometry-of-truth
src/test.ipynb
src/test2.ipynb